#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#map{
  border: yellow 1px dotted;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

